:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#root {
  text-align: center;
}
* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}
